.card {
    padding-bottom: 2rem;
    display: grid;
    height: 80vh;
    grid-template-rows: 1.3fr 1fr;
    grid-template-areas: "pic"
                         "text";
    grid-gap: 3rem;
    background-image: linear-gradient(to right bottom, #6dd5fa, #2980b9 );
    margin-bottom: 2rem;
}

.card__image {
    grid-area: pic;
    background-image: url("../assets/pic-1.jpg");
    background-size: cover;
}

.card__content {
    margin-left: 1rem;
    grid-area: text;
}

.card__heading {
    font-size: 2.5rem;
    font-weight: 600;
}

.location {
    font-size: 2rem;
}

.details {
    font-size: 1.5rem;
}

@media (min-width: 1080px) {

    .card {
    padding: 2rem;
    height: 64vh;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "pic text";
    grid-gap: 0.8rem;
    }

    .card__heading {
        font-size: 3rem;
    }

    .location {
        font-size: 2.5rem;
    }
    
    .details {
        font-size: 1.2rem;
    }
}